<div class="clear"></div>
<div id="platforms">
          <%= image_tag "footer/platforms.jpg" %>
          <%= link_to image_tag("footer/force.jpg"), "http://force.com" %>
          <%= link_to image_tag("footer/amazon.jpg"), "http://aws.amazon.com" %>
          <%= link_to image_tag("footer/heroku.jpg"), "http://www.heroku.com" %>
          <%= link_to image_tag("footer/engine_yard.jpg"), "http://www.engineyard.com" %>
</div>
<div id="footer">
            <div class="footer_column liner">
                <span class="title_footer">Solutions</span><br>
                <a href="/index.php/fogbridge">FogBridge</a><br>
                <a href="/index.php/jweb-to-lead">J!Web-To-Lead</a><br>
            </div>
            <div class="footer_column liner">
                <span class="title_footer">Services</span><br>
                <a href="/index.php/cloud-strategy">Cloud Strategy</a><br>
                <a href="/index.php/cloud-application-development">Application Development</a><br>
                <a href="/index.php/salesforcecom">Salesforce</a><br>
                <a href="/index.php/heroku">Heroku</a><br>
            </div>
            <div class="footer_column liner">
                <span class="title_footer">Customers</span><br>
                <a href="/index.php/customers">Case Studies</a><br>
            </div>
            <div class="footer_column liner">
                <span class="title_footer">Salesforce.com</span><br>
           f     <a href="/index.php/salesforcecom">Salesforce Implementations</a><br>
                <a href="/index.php/salesforcecom">Salesforce Application Dev</a><br>
                <a href="/index.php/salesforcecom">Cloud Consulting</a><br>
            </div>
            <div class="footer_column">
                <span class="title_footer">Company</span><br>
                <a href="/index.php/contact-us">Contact Us</a><br>
                <a href="/index.php/about-us">About Us</a><br>
                <a href="/index.php/history">History</a><br>
                <a href="/index.php/company-culture">Company Culture</a><br>
            </div>
            <div class="clear"></div>
            <div id="addy" class="footer_leyend">
                <span class="title_footer">Software Allies</span><br>
                100 East Ferguson Street, Suite 910 Tyler, TX. 75702<br>
                Tel: +1 888 890 3670
                <a href="mailto://sales@softwareallies.com">sales@softwareallies.com</a>
            </div>
            <div id="copy" class="footer_leyend">&copy; 2012 All Rights Reserved. <a href="http://softwareallies.com">www.softwareallies.com</a></div>
</div>